<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061925643575-7krh8mbpkpkh6ts175c5ebt2vhfsc6ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061925643575-7krh8mbpkpkh6ts175c5ebt2vhfsc6ab</string>
	<key>API_KEY</key>
	<string>AIzaSyC_z6yRuIYUDO8uNfWa6ZEvq0r1f_KYmL4</string>
	<key>GCM_SENDER_ID</key>
	<string>1061925643575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderfilippov.AuthenticationDemoApp</string>
	<key>PROJECT_ID</key>
	<string>afauthenticationdemoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>afauthenticationdemoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061925643575:ios:48e36c271d7f10d1d9e6b2</string>
</dict>
</plist>
